@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #ff7e01;
  --secondary-color: #faa935;
  --heading-color: #0b2727;
  --text-color: #6e7074;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-name);
}

section {
  padding: 50px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

a {
  text-decoration: none;
  color: unset;
}
ul {
  list-style: none;
}

.primary__btn {
  background: var(--secondary-color) !important;
  border: none !important;
  border-radius: 50px !important;
  padding: 0.4rem 1.5rem !important;
}

.primary__btn a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
}
.primary__btn a:hover {
  color: inherit;
}
.secondary__btn {
  background: transparent !important;
  color: #0b2727 !important;
  border: none !important;
  font-weight: 500 !important;
}

.secondary__btn a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--heading-color);
}

.secondary__btn a:hover {
  color: inherit;
}

.section__subtitle {
  background: var(--secondary-color);
  font-family: var(--subtitle-font-name);
  width: max-content;
  padding: 0px 0.5rem;
  padding-right: 1rem;
  border-radius: 50px;
  font-weight: 500;
  font-size: 1.7rem;
  color: var(--heading-color);
}


.header{
    width:100%;
    height:80px;
    line-height: 80px;
    background: var(--secondary-color);
}

.logo img{
    width: 70px;
    height: 70px;
}
.menu{
    margin-bottom: 0;
}

.nav__item a{
     text-decoration: none;
     color: var(--heading-color);
     font-weight: 500;
     font-size:1.1rem;
}
.nav__item a:hover{
    color:inherit;

}
.nav__item a.active__link{
    color:var(--text-color);
}
.mobile__menu{
    font-size: 1.3rem;
    color: var(--heading-color);
    display: none ;
}

.sticky__header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: #fff;
    position: sticky;
    top:0;
    left:0;
    box-shadow: 3px 3px 8px -3px #ddd;
    z-index:999;
}


/*footer*/

.footer{
    padding-top: 70px;
    padding-bottom: 30px;

}

.footer .logo img{
    width: 50%;
    margin-bottom: 1rem;
}

.footer .logo p{
    color: var(--text-color);

}

.social__links span a{
    text-decoration: none;
    color: var(--heading-color);
    font-size: 1.2rem;


}

.footer__link-title{
    color:var(--secondary-color);
    margin-bottom: 1rem;
}

.footer__quick-links li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;

}
.footer__quick-links li{
    border: 0;
    padding-left: 0;
}

.footer__quick-links h6 span i{
    color: var(--secondary-color);
    font-size: 1.1rem;
}

.copyright {
        color: var(--text-color);
        font-size: 1rem;
}

.link__store:hover{
    transform: scale(1.2);
  
  }   

@media only screen and  (max-Width:992px){
    .primary__btn a, .secondary__btn a{
      font-size: .9rem;
  
    }
  
    .primary__btn,.secondary__btn, .btn-dark{
        padding: 0.2rem 1.1rem !important;
    }
    .section{
      padding:40px 0;
    }
    .logo img{
      width: 20%;
  
  }
  .navigation{
      width: 100%;
      height: 100%;
      position:fixed;
      top:0;
      left:0;
      background: rgba(0, 0, 0, 0.185);
      z-index: 999;
      display: none;
  }
  .menu{
      position: absolute;
      top:0;
      right: 0;
      width: calc(100% - 75%);
      height: 100%;
      background: #fff;
      flex-direction: column;
      line-height: 0.5rem;
      justify-content: center;
      z-index: 9999;
  }
  
  .show__menu{
      display: block;
  }
  
  .mobile__menu{
      display: block;  
  }
  }
  
@media only screen and (max-width:768px){
    .logo img{
        width: 60%;

    }
    .menu{
        width: calc(100% - 50%);
    }
}